<html>
<head>
    <style>
        body {
            padding: 0;
        }
    </style>
</head>
<body>
<h1>
    공부중...
</h1>
<ul>
    <li><a target="_blank" href="/study/triangle">삼각형</a></li>
    <li><a target="_blank" href="/study/tetragon">사각형</a></li>
    <li><a target="_blank" href="/study/cube">큐브</a></li>
</ul>
</body>
</html>